@model _21Lecture_27._03._2021.Models.Person
@{ ViewData["Title"] = "Add"; }
<h1 class="h1" style="margin-bottom:50px;">Add new Person</h1>

<form method="post" action="~/Home/AddToDb">

    <div class="form-group">
        <label for="LastName">Lastname</label>
        <input asp-for="LastName" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label for="FirstName">Firstname</label>
        <input asp-for="FirstName" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label for="MiddleName">Middlename</label>
        <input asp-for="MiddleName" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <input class="btn btn-outline-dark" type="submit" value="Submit" />
    </div>

</form>
